<h1> Projects </h1>
<p><%= link_to 'New Project', new_project_path %></p>
<% @projects.each do |project| %>
  <h2><%= project.name %></h2>
  <%= link_to 'Project Details', project_path(project) %>
  <%= link_to 'Edit', edit_project_path(project) %>
  <%= link_to 'Delete', project, method: :delete %>
<% end %>